

#header-block {
    border-style: double;
    border-color: white;
    padding: 5px;
}

#lesson-title-row {
    border-style: outset;
    padding: 10px;
}

#concept-row {
    max-height: 600px;
    overflow: auto;
}

.concept-block {
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    margin-top: 15px;
    padding: 10px;
}


.concept-header {
    width: 20%;
}
.concept-main {
    border-left: thin solid;
    padding-left: 10px;
    width: 80%;
}

.page-grid {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 3%;
    padding-right: 3%;
}

body {
    font-size: 90%;
}

h1 {
    font-size: 36px;
}