
.outter-bars {
    position: relative;
    z-index: 2;
    margin: 5px;
    width: 95%;
    background-color: white;
    position: relative;
    border-style: outset;
    padding: 5px;
}

#header-row {
    position: fixed;
    display: flex;
    height: 75px;
}

#title-bar {
    position: fixed;
    float: left;
    z-index: 3;
}

#user-bar {
    position: fixed;
    right: 100px;
    z-index: 3;
}


#lesson-select-bar {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    top: 40px;
    height: 25px;;
    }

.lesson-row {
    position: fixed;
    top: 600px;
    left: 200px;
    border-style: dotted;
    margin: 5px;
    width: 80%;
}


#footer-row {
    position: fixed;
    bottom: 5px;
}

#lesson-grid {
    position: relative;
    top: 100px;
    left: 50px;

    z-index: 1;
}

#lesson-title-bar {
    position: relative;
}

.concept {
    display: flex;
    justify-content
}

body {
    background-color: teal;
    font-size: 70%;
}

#page-grid {
    position: absolute;
    width: 100%;
    z-index: 1;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}