

#header-block {
    border-style: double;
    border-color: white;
    margin: 10px;
    padding: 5px;
}

#title-row {
    justify-content: flex-start;
}
#user-login-row {
    justify-content: flex-end;
    padding-right: 10px;
}
#lesson-select {
    justify-content: flex-start;
}

#lesson-block {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#lesson-grid {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 10px;
}

#lesson-title-row {
    border-style: outset;
    background-color: white;
    padding: 25px;
    border-color: #66ccff;
}

#concepts-row {
    height: 400px;
    margin: 10px;
    overflow: auto;

}

.concept-block {
    border-style: inset;
    display: flex;
    max-width: 100%;
    background-color: white;
    margin: 25px;
    padding: 5px;
}

.concept-header {
    width: 20%;
}
.concept-main {
    width: 80%;
}



body {
    background-color: #66ccff;
    font-size: 90%;
}
