
body {
    font-size: 70%;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
}

a {
	text-decoration: none;
	color: black;
}

.concept-block:hover {
    cursor: crosshair;
}

.page-grid{
    position: relative;
    max-width: 100%;
}

.block {
    position: relative;
    max-width: 100%;
}

.row {
    position: relative;
    display: flex;
    max-width: 100%;
}
