<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/layout4.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/javascript/responsivescript.js"></script>
        <title>Ian's Notes</title>
    </head>
    <body>
    <div class="page">

        <div id="header" class="row">
            <h2 id="page-title">IPND: Ian Deans</h2>

            <div id="user-login">
                        Current User:<br><strong>{{dgoods.user_name}}</strong><br>
                        <a href="{{dgoods.user_url}}">{{dgoods.user_linktext}}</a>
                    </div>

        </div>

        <div id ="lesson-select" class="row">
            {% if dgoods.lesson_list %}
            <form id="lesson-select-form" action="/lesson">
                <label>
                    <select name="lesson_input" id="lesson-select-menu" onchange="this.form.submit()" style="max-width: 85%;">
                        <option value="0">- Select Lesson -</option>
                        {% for lesson in dgoods.lesson_list %}
                            <option value="{{lesson['number']}}">Lesson {{lesson['number']}}: {{lesson['name']}}</option>
                        {% endfor %}
                    </select>
                </label>
            </form>

            {% endif %}
        </div>

        <div id="content" class="row">

            {% block lesson %}
            {% endblock %}

        </div>

        <div id="footer" class="row">

            <h4>Ian Deans: Intro to Programming Nanodegree</h4>

        </div>
    </div>



    </body>

</html>