<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/responsive-layout-1.css" rel="stylesheet" type="text/css">
        <title>Ian's Notes</title>
    </head>
    <body>
        <div id="page-grid">
            <div id="header-row" class="outter-bars">
                <div id="title-bar" class="top-bar">
                    <h2>Udacity: IPND - Ian Deans</h2>
                </div>

                <div id="user-bar">
                    Current User:<strong>{{dgoods.user_name}}</strong><br>
                    <a style="font-weight: bold; visited: black;" href="{{dgoods.user_url}}">{{dgoods.user_linktext}}</a>
                </div>

                <div id="lesson-select-bar" class="top-bar">
                    {% if dgoods.lesson_list %}
                        <form id="lesson-select-form" action="/lesson">
                            <label>Select a lesson to view:
                            <select name="lesson_input" id="lesson-select-menu" onchange="this.form.submit()">
                                <option value="0">- Select Lesson -</option>
                                {% for lesson in dgoods.lesson_list %}
                                    <option value="{{lesson['number']}}">Lesson {{lesson['number']}}: {{lesson['name']}}</option>
                                {% endfor %}
                            </select>
                            </label>
                        </form>
                    {% endif %}
                </div>
            </div>

                {% block error %}
                {% endblock %}
            <div id="lesson-row">
                <div id="lesson-grid">
                    {% block lesson %}
                    {% endblock %}
                </div>
            </div>
            <div id="footer-row" class="outter-bars">
            <h4>Intro to Programming Nanodegree Notes Webapp</h4>

            </div>
        </div>
    </body>

</html>