<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/stylesheets/note-style.css" rel="stylesheet" type="text/css">
        <link media="screen and (min-width: 900px)" href="/stylesheets/desktop-style.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" media="(max-width: 700px)" src="/javascript/responsivescript.js"></script>
        <title>Ian's Notes</title>
    </head>
    <body>
        <div class="page-grid">
            <div id="header-block" class="block">
                <div id="title-row" class="row">
                    <div id="title-col"><h2>Udacity: IPND - Ian Deans</h2></div>
                </div>
                <div id="user-login-row" class="row">
                    <div id="user-login-col">
                        Current User:<br><strong>{{dgoods.user_name}}</strong><br>
                        <a style="font-weight: bold; visited: black;" href="{{dgoods.user_url}}">{{dgoods.user_linktext}}</a>
                    </div>
                </div>
                <div id="lesson-select" class="row">
                    {% if dgoods.lesson_list %}
                    <form id="lesson-select-form" action="/lesson">
                            <label>Select a lesson:
                                <select name="lesson_input" id="lesson-select-menu" onchange="this.form.submit()">
                                    <option value="0">- Select Lesson -</option>
                                    {% for lesson in dgoods.lesson_list %}
                                        <option value="{{lesson['number']}}">Lesson {{lesson['number']}}: {{lesson['name']}}</option>
                                    {% endfor %}
                                </select>
                            </label>
                    </form>
                    {% endif %}
                </div>
            </div>

                {% block error %}
                {% endblock %}

            <div id="lesson-block" class="block">
                    {% block lesson %}
                    {% endblock %}
            </div>

            <div id="footer-block" class="block">
                <h4>Intro to Programming Nanodegree Notes Webapp</h4>
            </div>
        </div>
    </body>

</html>